In [1]:
import pydeck as pdk
import pandas as pd

ModuleNotFoundError: No module named 'pydeck'

In [3]:
# 2014 locations of car accidents in the UK
UK_ACCIDENTS_DATA = ('https://raw.githubusercontent.com/uber-common/deck.gl-data/master/examples/3d-heatmap/heatmap-data.csv')

pd.read_csv(UK_ACCIDENTS_DATA).head()

        lng        lat
0 -0.198465  51.505538
1 -0.178838  51.491836
2 -0.205590  51.514910
3 -0.208327  51.514952
4 -0.206022  51.496572

In [4]:
# Define a layer to display on a map
layer = pdk.Layer(
    'HexagonLayer',
    UK_ACCIDENTS_DATA,
    get_position='[lng, lat]',
    auto_highlight=True,
    elevation_scale=50,
    pickable=True,
    elevation_range=[0, 3000],
    extruded=True,                 
    coverage=1)

In [5]:
# Set the viewport location
view_state = pdk.ViewState(
    longitude=-1.415,
    latitude=52.2323,
    zoom=6,
    min_zoom=5,
    max_zoom=15,
    pitch=40.5,
    bearing=-27.36)

In [6]:
# Combined all of it and render a viewport
r = pdk.Deck(layers=[layer], initial_view_state=view_state)
r.to_html('demo.html')

'D:\\2019년\\★Study\\Python\\Pydeck\\demo.html'

In [7]:
layer.elevation_range = [0, 10000]
r.update()

In [8]:
import time
r.show()

DeckGLWidget(json_input='{"initialViewState": {"bearing": -27.36, "latitude": 52.2323, "longitude": -1.415, "m…

In [9]:
for i in range(0, 10000, 1000):
    layer.elevation_range = [0, i]
    r.update()
    time.sleep(0.1)

In [10]:
import pandas as pd
from pydeck import (
    data_utils,
    Deck,
    Layer
)

# First, let's use Pandas to download our data
URL = 'https://raw.githubusercontent.com/ajduberstein/data_sets/master/beijing_subway_station.csv'
df = pd.read_csv(URL)
df.head()

,lat,lng,osm_id,station_name,chinese_name,opening_date,color,line_name
0,39.940249,116.456359,1351272524,Agricultural Exhibition Center,农业展览馆,2008-07-19,"[0, 146, 188, 255]",Line 10
1,39.955570,116.388507,5057476994,Andelibeijie,安德里北街,2015-12-26,"[0, 155, 119, 255]",Line 8 (North section)
2,39.947729,116.402067,339088654,Andingmen,安定门,1984-09-20,"[0, 75, 135, 255]",Line 2
3,40.011026,116.263981,1362259113,Anheqiao North,安河桥北,2009-09-28,"[0, 140, 149, 255]",Line 4
4,39.967112,116.388398,5305505996,Anhuaqiao,安华桥,2012-12-30,"[0, 155, 119, 255]",Line 8 (North section)

In [11]:
from ast import literal_eval
# We have to re-code position to be one field in a list, so we'll do that here:
# The CSV encodes the [R, G, B, A] color values listed in it as a string
df['color'] = df.apply(lambda x: literal_eval(x['color']), axis=1)

In [12]:
# Use pydeck's data_utils module to fit a viewport to the central 90% of the data
viewport = data_utils.compute_view(points=df[['lng', 'lat']], view_proportion=0.9)
auto_zoom_map = Deck(layers=None, initial_view_state=viewport)
auto_zoom_map.show()

DeckGLWidget(json_input='{"initialViewState": {"bearing": 0, "latitude": 39.92295563963415, "longitude": 116.3…

In [13]:
from IPython.core.display import display
import ipywidgets

year = 2019

scatterplot = Layer(
    'ScatterplotLayer',
    df,
    id='scatterplot-layer',
    get_radius=500,
    get_fill_color='color',
    get_position='[lng, lat]')
r = Deck(layers=[scatterplot], initial_view_state=viewport)

# Create an HTML header to display the year
display_el = ipywidgets.HTML('<h1>{}</h1>'.format(year))
display(display_el)
# Show the current visualization
r.show()

HTML(value='<h1>2019</h1>')

DeckGLWidget(json_input='{"initialViewState": {"bearing": 0, "latitude": 39.92295563963415, "longitude": 116.3…

In [14]:
import time
for y in range(1971, 2020):
    scatterplot.data = df[df['opening_date'] <= str(y)]
    year = y
    # Reset the header to display the year
    display_el.value = '<h1>{}</h1>'.format(year)
    r.update()
    time.sleep(0.2)

In [15]:
import pydeck as pdk

DATA_URL = 'https://api.data.gov.sg/v1/transport/taxi-availability'
COLOR_RANGE = [
  [255, 255, 178, 25],
  [254, 217, 118, 85],
  [254, 178, 76, 127],
  [253, 141, 60, 170],
  [240, 59, 32, 212],
  [189, 0, 38, 255]
]

In [16]:
import pandas as pd
import requests

json = requests.get(DATA_URL).json()
df = pd.DataFrame(json["features"][0]["geometry"]["coordinates"])
df.columns = ['lng', 'lat']

viewport = pdk.data_utils.compute_view(df[['lng', 'lat']])
layer = pdk.Layer(
    'ScreenGridLayer',
    df,
    cell_size_pixels=20,
    color_range=COLOR_RANGE,
    get_position='[lng, lat]',
    pickable=True,
    auto_highlight=True)
r = pdk.Deck(layers=[layer], initial_view_state=viewport)

In [17]:
r.show()

DeckGLWidget(json_input='{"initialViewState": {"bearing": 0, "latitude": 1.3258073334776113, "longitude": 103.…

In [ ]:
import pydeck as pdk

all_lidar = pd.concat([
    pd.read_csv('https://raw.githubusercontent.com/ajduberstein/kitti_subset/master/kitti_1.csv'),
    pd.read_csv('https://raw.githubusercontent.com/ajduberstein/kitti_subset/master/kitti_2.csv'),
    pd.read_csv('https://raw.githubusercontent.com/ajduberstein/kitti_subset/master/kitti_3.csv'),
    pd.read_csv('https://raw.githubusercontent.com/ajduberstein/kitti_subset/master/kitti_4.csv'),
])

# Filter to one frame of data
lidar = all_lidar[all_lidar['source'] == 136]
lidar.loc[: , ['x', 'y']] = lidar[['x', 'y']] / 10000

In [21]:
point_cloud = pdk.Layer(
    'PointCloudLayer',
    lidar[['x', 'y', 'z']],
    get_position='[x, y, z * 10]',
    get_normal=[0, 0, 1],
    get_color=[255, 0, 100, 200],
    pickable=True,  
    auto_highlight=True,
    point_size=1)


view_state = pdk.data_utils.compute_view(lidar[['x', 'y']], 0.9)
view_state.max_pitch = 360
view_state.pitch = 80
view_state.bearing = 120

r = pdk.Deck(
    point_cloud,
    initial_view_state=view_state,
    map_style='')
r.show()

DeckGLWidget(json_input='{"initialViewState": {"bearing": 120, "latitude": -3.0079270065674496e-05, "longitude…

In [ ]:
import time
from collections import deque

# Choose a handful of frames to loop through
frame_buffer = deque([42, 56, 81, 95])
print('Press the stop icon to exit')
while True:
    current_frame = frame_buffer[0]
    lidar = all_lidar[all_lidar['source'] == current_frame]
    r.layers[0].get_position = '[x / 10000, y / 10000, z * 10]'
    r.layers[0].data = lidar.to_dict(orient='records')
    frame_buffer.rotate()
    r.update()
    time.sleep(0.5)

Press the stop icon to exit

In [24]:
LIGHTS_URL = 'https://raw.githubusercontent.com/ajduberstein/lights_at_night/master/chengdu_lights_at_night.csv'
df = pd.read_csv(LIGHTS_URL)
df.head()

   year      lng     lat  brightness
0  1993  104.575  31.808           4
1  1993  104.583  31.808           4
2  1993  104.592  31.808           4
3  1993  104.600  31.808           4
4  1993  104.675  31.808           4

In [25]:
df['color'] = df['brightness'].apply(lambda val: [255, val * 4,  255, 255])
df.sample(10)

        year      lng     lat  brightness                 color
15308   1997  104.508  31.533           4   [255, 16, 255, 255]
209847  2007  103.492  30.058           3   [255, 12, 255, 255]
59649   2009  104.242  31.325          18   [255, 72, 255, 255]
186655  2007  104.358  31.292           5   [255, 20, 255, 255]
174244  2013  105.342  30.058          25  [255, 100, 255, 255]
130130  2003  104.250  30.683           9   [255, 36, 255, 255]
279652  2005  104.567  30.525           3   [255, 12, 255, 255]
126856  2003  103.817  30.875           5   [255, 20, 255, 255]
267283  2005  104.233  31.150           8   [255, 32, 255, 255]
115637  2001  104.683  29.483           5   [255, 20, 255, 255]

In [26]:
plottable = df[df['year'] == 1993].to_dict(orient='records')

view_state = pdk.ViewState(
    latitude=31.0,
    longitude=104.5,
    zoom=8,
    max_zoom=8,
    min_zoom=8)
scatterplot = pdk.Layer(
    'HeatmapLayer',
    data=plottable,
    get_position='[lng, lat]',
    get_weight='brightness',
    opacity=0.5,
    pickable=False,
    get_radius=800)
r = pdk.Deck(
    layers=[scatterplot],
    initial_view_state=view_state,
    views=[pdk.View(type='MapView', controller=None)])
r.show()

DeckGLWidget(json_input='{"initialViewState": {"bearing": 0, "latitude": 31.0, "longitude": 104.5, "maxZoom": …

In [27]:
import ipywidgets as widgets
from IPython.display import display
slider = widgets.IntSlider(1992, min=1993, max=2013, step=2)
def on_change(v):
    results = df[df['year'] == slider.value].to_dict(orient='records')
    scatterplot.data = results
    r.update()
    
slider.observe(on_change, names='value')
display(slider)

IntSlider(value=1993, max=2013, min=1993, step=2)